name: Terraform plan on dev resources

on:
  merge_group:
  workflow_dispatch:
  pull_request:
    types:
      - opened
      - edited
      - synchronize
      - reopened
      - ready_for_review
    paths:
      - "infra/resources/dev/**"
      - "infra/resources/_modules/**"
      - ".github/workflows/_validate-terraform-plan-dev-resources.yaml"

jobs:
  code_review:
    uses: pagopa/dx/.github/workflows/infra_plan.yaml@main
    name: Terraform Plan
    secrets: inherit
    with:
      environment: dev
      base_path: "infra/resources"
      override_github_environment: infra-dev
      use_private_agent: true
